@import "../index";

.fa-spinner {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

.action-buttons {
    text-align: center;
}

.table {
  color: black;
  width: 300px;
  height: 300px;
}
